@import "tailwindcss";

:root {
  --sans:
    "IBM Plex Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco, monospace;
  --heading:
    "IBM Plex Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco, monospace;
  --mono: "IBM Plex Mono", ui-monospace, Consolas, monospace;
  --font-mono: "IBM Plex Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco, monospace;
}
